<div id="attendees">
  <h2>Attnedees</h2>
  <%= render @event.attendees %>	
</div>
<div id="absentees">
  <h2>Absentees</h2>
  <%= render @event.absentees %>	
</div>
<div id="waiters">
  <h2>Waiters</h2>
  <%= render @event.waiters %>	
</div>