<%= form_for @attendance, remote: true, html: { class: "form-inline" } do |f| %>
  <div class="form-group">
    <div class="input-group">
      <%= hidden_field_tag :event_id, @event.id %>
    </div>
    <%= f.button involve_type(@attendance) , class: "btn btn-primary" %>
  </div>
<% end %>